body{
margin: 0;
padding: 0;
height: 1500px;

}
html{
scroll-behavior: smooth;

}
/* this style of  header area */
#header{
padding: 40px 0px;
background: #fcdb00;

}

.menu ul li a{

font-size: 18px;
font-weight: bold;
font-family: 'PT Sans', sans-serif;
color: black;

}


.menu ul li{
padding: 0px 15px;


}

/*this is style of header area */


/*this is style of banner part area */

#banner_part{
padding: 70px 0px;

background: #fcdb00;;

}

.banner_text h2{
    font-family: 'PT Sans', regular;
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
    padding-bottom: 10px;

}
.banner_text h5{
    font-family: 'PT Sans', regular;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 10px;
}

.banner_text p{

    font-family: 'PT Sans', regular;
    font-size: 20px;
   font-weight: normal;
    margin: 0px;
    padding: 5px;
    line-height: 20px;
    text-align: justify;

}
.banner_text ul li a{
color: black !important;
display: inline-block;
font-size: 50px;
padding:30px 20px;

}

.carousel-indicators{
    bottom: -60px;
    

}


.carousel-indicators li{
width: 10px;
height: 10px;
font-size: 10px;
border-radius: 50%;



}

.carousel-indicators:active li{
color: black;

}


/*this is style of banner part area end */

/* this is style of service part */
#service_part{

padding: 70px 0px;
background: #ffffff;
;

}

.service_text h2{

   font-size: 25px; 
   font-family: 'PT Sans', bold;
    margin: 0px;
    padding:30px;
    color: #404040;
    text-transform: capitalize;



}

.service_text p{
    font-size: 18px;
    padding: 0px 255px;
    color:#404040; 

}


/* this is style of service part end */


/*service part design start */



.image_descrive h2{
   
        font-size: 20px;
        font-weight: bold;
        color:#404040; 
        font-weight: bold;

}

.service_product{
padding-bottom: 70px;


}

.image_descrive p{
    font-size: 18px;
   
    color:#404040; 



}

.service_image{
    position: absolute;
    left: 49%;

}


.service_type{

padding: 40px 0px;

}

/*service part design  end*/

/*this is contract part design start */
#contarct_part{

padding: 70px 0px;
background: #010101;


}


.email {
	display: inline-block;
	height: 40px;
	width: 80%;
	border: none;
	border: 2px solid gray;
	border-radius: 2px;
	padding: 10px;
}

.summit{

    display: inline-block;
	background: ;
	border: none;
	border: 2px solid gray;
	border-radius: 2px;
    padding: 5px;
    background: #fcdb00;


}

.contract_part_text h2{

color:#fcdb00;
font-family: 'PT Sans', bold;
font-size: 35px;
font-weight: bold;



}


.contract_part_text p{
	color: white;
    padding: 10px 114px;
    font-family: 'PT Sans', bold;
}


.icon_part{
padding-top: 50px;


}
.icon_part li{
padding: 15px;


}






.svg-inline--fa {
    display: inline-block;
	font-size: 40px;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em;
    background:#fcdb00;

    color: black; 
    



}




/*this is contract part design contart part desgn end */




/*footer part  desing start  */


#footer_area{
padding: 70px 0px;
background: #010101;
color: white;
font-size: 18px;
font-weight: normal;
font-family: 'PT Sans', regular;

}
#footer_area ul li a{
    color: white;
    


}








/*footer part  desing end  */







































/*-------font-family: 'PT Sans', sans-serif;-------- */














